auto-sklearn
diffprivlib
dgl
black
fairness-indicators
folium
flake8
fuzzy
geopandas
genetic
gensim
hdbscan
ipython
isort
jupyter
loguru
matplotlib
metric-learn
modAL
networkx
numpy
pandas
pip
plotly
pomegranate
# pyarc
pyfim
python-dotenv
rulefit
scikit-learn
# scikit-multiflow
scipy
setuptools
shape
shapely
stable-baselines3
# stellargraph
tensorflow
torch
transformers
typer
wheel
-e .
